/* GOOGLE FONTS RAMABHADRA */
@import url("https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,300");

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
}

/* ORIGINAL */
html, body {
  font-family: "Ramabhadra", sans-serif;
  overflow: hidden;
  overflow-x: hidden;
  align-content: center;
  box-sizing: border-box;
  height: 100vh; 
}

.header {
  margin-top: 50px;
  padding-top: 20px;
}

.xlarge {
  font-size: 24px !important;
}

.padding-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.padding-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.button-one:hover {
  color: #000 !important;
  background-color: #fff !important;
  border-top: 2px solid #ff4040;
}

.white {
  color: #000 !important;
  background-color: #fff !important;
}


/* STICKY SOCIAL MEDIA BAR */
.icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: black;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #ff4040;
  color: white;
}

.facebook {
  color: black;
}

.twitter {
  color: black;
}

.google {
  color: black;
}

.linkedin {
  color: black;
}

.youtube {
  color: black;
}

.github {
  color: black;
}

.instagram {
  color: black;
}

/* END STICKY SOCIAL MEDIA BAR */


/* MENU OVERLAY */

.menu-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
}

.square {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #ff4040;
  right: 0;
  top:0;
  margin: 0;
  padding: 0;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  margin-top: 10px;
}

/* HOME */

div.background-home {
  text-align:center;
  font-weight:300;
  font-size:60px;
  position:absolute;
  z-index:1;
  color:#222;
  display: block;
  cursor: pointer;
  margin-left: 20%;
  top: 10%;
  left:0;
  width:100px;
  height: 100px;
}

div.transbox-home {
	position:absolute;
  background-color: #ff4040;
  opacity: 0.6;
  width:250px;
  height:24px;
  border-radius: 1%;
  top: 25%;
  left:0;
  z-index:1;
  margin-left: -35%;
}

div.transbox-home a {
	position:absolute;
  color: #222;
  text-align:center;
  font-weight:300;
  font-size:60px;
  margin-top: -25px;
  margin-left: 14%;
  top: 0;
  left:0;
  text-decoration: none;
}

/* ABOUT */

div.background-about {
  text-align:center;
  font-weight:300;
  font-size:60px;
  position:absolute;
  z-index:1;
  color:#222;
  display: block;
  cursor: pointer;
  margin-top: 60px;
  margin-left: 20%;
  top: 10%;
  left:0;
  width:100px;
  height: 100px;
}

div.transbox-about {
	position:absolute;
  /* background-color: #40e0d0; */
  opacity: 0.6;
  width:250px;
  height:24px;
  border-radius: 1%;
  top: 25%;
  left:0;
  z-index:1;
  margin-left: -35%;
}

div.transbox-about a {
	position:absolute;
  color: #222;
  text-align:center;
  font-weight:300;
  font-size:60px;
  margin-top: -25px;
  margin-left: 14%;
  top: 0;
  left:0;
  text-decoration: none;
}

/* WORK */

div.background-work {
  text-align:center;
  font-weight:300;
  font-size:60px;
  position:absolute;
  z-index:1;
  color:#222;
  display: block;
  cursor: pointer;
  margin-top: 125px;
  margin-left: 20%;
  top: 10%;
  left:0;
  width:100px;
  height: 100px;
}

div.transbox-work {
	position:absolute;
  /* background-color: #40e0d0; */
  opacity: 0.6;
  width:250px;
  height:24px;
  border-radius: 1%;
  top: 25%;
  left:0;
  z-index:1;
  margin-left: -35%;
}

div.transbox-work a {
	position:absolute;
  color: #222;
  text-align:center;
  font-weight:300;
  font-size:60px;
  margin-top: -25px;
  margin-left: 14%;
  top: 0;
  left:0;
  text-decoration: none;
}

/* CONTACT */

div.background-contact {
  text-align:center;
  font-weight:300;
  font-size:60px;
  position:absolute;
  z-index:1;
  color:#222;
  display: block;
  cursor: pointer;
  margin-top: 185px;
  margin-left: 20%;
  top: 10%;
  left:0;
  width:100px;
  height: 100px;
}

div.transbox-contact {
	position:absolute;
  /* background-color: #40e0d0; */
  opacity: 0.6;
  width:280px;
  height:24px;
  border-radius: 1%;
  top: 25%;
  left:0;
  z-index:1;
  margin-left: -34%;
}

div.transbox-contact a {
	position:absolute;
  color: #222;
  text-align:center;
  font-weight:300;
  font-size:60px;
  margin-top: -25px;
  margin-left: 12%;
  top: 0;
  left:0;
  text-decoration: none;
}

/* BLOG */

div.background-blog {
  text-align:center;
  font-weight:300;
  font-size:60px;
  position:absolute;
  z-index:1;
  color:#222;
  display: block;
  cursor: pointer;
  margin-top: 250px;
  margin-left: 20%;
  top: 10%;
  left:0;
  width:100px;
  height: 100px;
}

div.transbox-blog {
	position:absolute;
  /* background-color: #00ff00; */
  opacity: 0.6;
  width:250px;
  height:24px;
  border-radius: 1%;
  top: 25%;
  left:0;
  z-index:1;
  margin-left: -35%;
}

div.transbox-blog a {
	position:absolute;
  color: #222;
  text-align:center;
  font-weight:300;
  font-size:60px;
  margin-top: -25px;
  margin-left: 14%;
  top: 0;
  left:0;
  text-decoration: none;
}

/* END OF MENU OVERLAY */

/* .overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
} */

.closebtn {
  position: absolute;
  margin-top: 20%;
  top: 20px;
  left: 45px;
  font-size: 60px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/* END OF MENU OVERLAY */

/* MAIN CONTAINER */
main {
  background-color: white;
}

.main-content {
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  max-width: 980px;
}
/******  CONTAINER  *******/

.container {
  /* margin-top: auto; */
  background-color: #ececec; 
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: visible;
  width: 100%;
  min-height: 700px;
}

.fc {
  position: absolute;
  /* width: 1085px; */
  width: 50%;
  min-height: 700px;
  left: 98px;
  top: 0px;
  overflow: visible;
  justify-content: center;
	align-items: center;
}

.lc {
  position: absolute;
  background-color: #ff4040;
  overflow: visible;
  top: 0;
  left: 0;
	width: 50%;
}

/* MENU ICON & TEXT */

.wrapper {
  position: relative;
  padding: 30px;
  color: rgba(black, 0.5);
  height: 5px;
  width: 5px;
  align-items: center;
  margin-top: 40%;
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
}

/* MENU ICON */

.menu-icon {
  display: -webkit-box;
  display: flex;
  align-self: center;
  align-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 35px;
  height:25px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: -30px;
}

.menu-icon div {
  align-self: flex-end;
  height: 4px;
  width: 100%;
  background: #000;
}

.menu-icon .bar-one{
  width: 75%;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.menu-icon .bar-three{
  width: 50%;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.menu-icon:hover div {
  width: 100%;
}

.menu-icon:hover .bar-one {
  -webkit-animation: menu-hover 1s infinite ease-in-out alternate;
        animation: menu-hover 1s infinite ease-in-out alternate;
}

.menu-icon:hover .bar-two {
  -webkit-animation: menu-hover 1s infinite ease-in-out alternate forwards 200ms;
        animation: menu-hover 1s infinite ease-in-out alternate forwards 200ms;
}

.menu-icon:hover .bar-three {
  -webkit-animation: menu-hover 1s infinite ease-in-out alternate forwards 400ms;
        animation: menu-hover 1s infinite ease-in-out alternate forwards 400ms;
}

@-webkit-keyframes menu-hover {
    0% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

@keyframes menu-hover {
    0% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

/* MENU TEXT */

div.m {
  margin-left: -100px;
  width: 0px;
  word-break: break-all;
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
  background-color: transparent;
  -ms-transform: rotate(90deg);
  transform: rotate(270deg);
  cursor: pointer;
}

div.e {
  margin-left: -100px;
  width: 0px;
  word-break: break-all;
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
  background-color: transparent;
  -ms-transform: rotate(90deg);
  transform: rotate(270deg);
  cursor: pointer;
}

div.n {
  margin-left: 100px;
  width: 0px;
  word-break: break-all;
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
  background-color: transparent;
  -ms-transform: rotate(90deg);
  transform: rotate(270deg);
  cursor: pointer;
}

div.u {
  margin-left: 100px;
  width: 0px;
  word-break: break-all;
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
  background-color: transparent;
  -ms-transform: rotate(90deg);
  transform: rotate(270deg);
  cursor: pointer;
}

.sc {
  left: 0;
	width: 50%;
  opacity: 0;
  top: 0;
	overflow: visible;
}

/* BOUNCING ARROW */

.home-arrow {
  position: absolute;
  top: 60%;
  right:20%;
}

.home-arrow:hover {
    cursor: pointer;
}

#bounce {
	-webkit-animation: bounce 2s;
  animation: bounce 2s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	60% {
		-webkit-transform: translateY(-12px);
		transform: translateY(-12px);
	}
}

@keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	60% {
		-webkit-transform: translateY(-12px);
		transform: translateY(-12px);
	}
}

/******  END OF CONTAINER  *******/



/* RIGHT OVERLAY */
.oc {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	min-height: 700px;
	overflow: visible;
}

/* ENTIRE OVERLAY */
.ov {
  background-position: 0 0;
	position: relative;
	left: -100%;
  height: 100%;
  margin-top: 0px;
  width: 200%;
  top:10%;
}

/* LEFT OVERLAY */
.op {
	position: absolute;
	top: 0;
	height: 100%;
	width: 50%;
}

/******  HELLO *******/

.hello-word {
  margin-left: 565px;
  margin-top: 170px;
  margin-right: 570px;
  margin-bottom: 165px;
  padding-left: 52px;
}
/* H ANIMATION */
.H-left-stroke {
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: H-left-move 20s ease forwards;
}
.H-mid-stroke {
  stroke-dasharray: 37px;
  stroke-dashoffset: 37px;
  animation: H-mid-move 9s ease forwards;
}
.H-right-stroke {
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: H-right-move 13s ease forwards;
}
@keyframes H-left-move {
  0% {
    stroke-dashoffset: 124px;
  }
  5% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes H-mid-move {
  0% {
    stroke-dashoffset: 37px;
  }
  5% {
    stroke-dashoffset: 37px;
  }
  10% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes H-right-move {
  0% {
    stroke-dashoffset: 124px;
  }
  5% {
    stroke-dashoffset: 124px;
  }
  10% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
/* E ANIMATION */
.E-left-stroke {
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: E-left-move 20s ease forwards;
}
.E-top-stroke {
  stroke-dasharray: 47px;
  stroke-dashoffset: 47px;
  animation: E-top-move 10s ease forwards;
}
.E-mid-stroke {
  stroke-dasharray: 42px;
  stroke-dashoffset: 42px;
  animation: E-mid-move 10s ease forwards;
}
.E-bottom-stroke {
  stroke-dasharray: 47px;
  stroke-dashoffset: 47px;
  animation: E-bottom-move 10s ease forwards;
}
@keyframes E-left-move {
  0% {
    stroke-dashoffset: 124px;
  }
  2% {
    stroke-dashoffset: 124px;
  }
  6% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes E-top-move {
  0% {
    stroke-dashoffset: 47px;
  }
  6% {
    stroke-dashoffset: 47px;
  }
  11% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes E-mid-move {
  0% {
    stroke-dashoffset: 42px;
  }
  8% {
    stroke-dashoffset: 42px;
  }
  13% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes E-bottom-move {
  0% {
    stroke-dashoffset: 47px;
  }
  11% {
    stroke-dashoffset: 47px;
  }
  16% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
/* L ONE ANIMATION */
.L-one-long-stroke {
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: L-one-long-move 20s ease forwards;
}
.L-one-short-stroke {
  stroke-dasharray: 44px;
  stroke-dashoffset: 44px;
  animation: L-one-short-move 10s ease forwards;
}
@keyframes L-one-long-move {
  0% {
    stroke-dashoffset: 124px;
  }
  2% {
    stroke-dashoffset: 124px;
  }
  7% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes L-one-short-move {
  0% {
    stroke-dashoffset: 44px;
  }
  13% {
    stroke-dashoffset: 44px;
  }
  18% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
/* L TWO ANIMATION*/
.L-two-long-stroke {
  stroke-dasharray: 124px;
  stroke-dashoffset: 124px;
  animation: L-two-long-move 20s ease forwards;
}
.L-two-short-stroke {
  stroke-dasharray: 44px;
  stroke-dashoffset: 44px;
  animation: L-two-short-move 10s ease forwards;
}
@keyframes L-two-long-move {
  0% {
    stroke-dashoffset: 124px;
  }
  3% {
    stroke-dashoffset: 124px;
  }
  8% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes L-two-short-move {
  0% {
    stroke-dashoffset: 44px;
  }
  15% {
    stroke-dashoffset: 44px;
  }
  20% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
/* O ANIMATION */
.O-stroke {
  stroke-dasharray: 302px;
  stroke-dashoffset: 302px;
  animation: O-move 20s ease forwards;
}
@keyframes O-move {
  0% {
    stroke-dashoffset: 302px;
  }
  4% {
    stroke-dashoffset: 302px;
  }
  9% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
/* DOT ANIMATION */
.red-dot {
  stroke-width: 44px;
  stroke-linecap: round;
  animation: red-dot-grow 8s ease-out forwards;
}
@keyframes red-dot-grow {
  0% {
    stroke-width: 0px;
  }
  15% {
    stroke-width: 0px;
  }
  20% {
    stroke-width: 44px;
  }
  100% {
    stroke-width: 44px;
  }
}

/******  END OF HELLO *******/


/* WORK.HTML */
.row-photo-grid img {
  margin-bottom: -8px;
}
.button-one {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.button-one {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button-one:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
.header:after,
.header:before,
.row-photo-grid:after,
.row-photo-grid:before {
  content: "";
  display: table;
  clear: both;
}
.column-photo-grid {
  float: left;
  width: 100%;
}
@media (min-width: 601px) {
  .column-photo-grid {
    width: 49.99999%;
  }
}
.main-content {
  margin-left: auto;
  margin-right: auto;
}
.main-content {
  max-width: 980px;
}
.row-photo-grid-padding > .column-photo-grid {
  padding: 0 8px;
}

