/* GOOGLE FONT RAMABHADRA */
@import url("https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap");

/* GOOGLE FONT POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bangers&family=Dancing+Script&family=Monoton&family=Montserrat&family=Poppins:wght@300;400;500;600&family=Sulphur+Point&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Ramabhadra", sans-serif;
  align-content: center;
  width: 100%;
  height: 100%;
  /* overflow: hidden;
  overflow-x: hidden; */
  background-color: #6b0080;
  color:#FFF;
  font-family: 'Amatic SC', cursive;
  font-family: 'Bangers', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Monoton', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Sulphur Point', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.container-fluid{
  width: 100%;
  height: 100%;
  background-color: #6b0080;
}
.logo {
  font-size: 30px;
  font-weight: 600;
  margin-top: 50px;
  margin-left: 50px;
  color: #000;
  letter-spacing: 2px;
}
/* MENU ICON & TEXT */
.wrapper {
  color: rgba(#000, 0.5);
  height: 100%;
  width: 100%;
  align-items: center;
  display: inline-block;
  cursor: pointer;
}
/* MENU ICON */
.menu-icon {
  display: -webkit-box;
  display: flex;
  align-self: center;
  align-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 35px;
  height:25px;
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 6%;
  margin-left: -30px;
}
.menu-icon div {
  align-self: flex-end;
  height: 4px;
  width: 100%;
  background: #FFF;
}
.menu-icon .bar-one{
  width: 75%;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.menu-icon .bar-three{
  width: 50%;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.menu-icon:hover div {
  width: 100%;
}
.menu-icon:hover .bar-one {
  -webkit-animation: menu-hover 1s infinite ease-in-out alternate;
  animation: menu-hover 1s infinite ease-in-out alternate;
}
.menu-icon:hover .bar-two {
  -webkit-animation: menu-hover 1s infinite ease-in-out alternate forwards 200ms;
  animation: menu-hover 1s infinite ease-in-out alternate forwards 200ms;
}
.menu-icon:hover .bar-three {
  -webkit-animation: menu-hover 1s infinite ease-in-out alternate forwards 400ms;
  animation: menu-hover 1s infinite ease-in-out alternate forwards 400ms;
}
@-webkit-keyframes menu-hover {
    0% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
@keyframes menu-hover {
    0% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
/* MENU TEXT */
.menu-text{
  width: 35px;
  height:25px;
  cursor: pointer;
  position: absolute;
  top: 37%;
  left: 8%;
  color: #FFF;
  font-weight: 600;
}
div.m {
  margin-left: -100px;
  width: 0px;
  word-break: break-all;
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
  background-color: transparent;
  -ms-transform: rotate(90deg);
  transform: rotate(270deg);
  cursor: pointer;
}
/* HOVER EFFECT UP AND DOWN */
div.m:hover {
  margin-left: 5px;
  width: 0;
  word-break: break-all;
  white-space: pre-wrap;
  background-color: transparent;
  -ms-transform: rotate(90deg);
  transform: rotate(270deg);
  cursor: pointer;
}
div.e {
  margin-left: -100px;
  width: 0px;
  word-break: break-all;
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
  background-color: transparent;
  -ms-transform: rotate(90deg);
  transform: rotate(270deg);
  cursor: pointer;
}
div.n {
  margin-left: 100px;
  width: 0px;
  word-break: break-all;
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
  background-color: transparent;
  -ms-transform: rotate(90deg);
  transform: rotate(270deg);
  cursor: pointer;
}
/* HOVER EFFECT UP AND DOWN */
div.n:hover {
  margin-left: 5px;
  width: 0;
  word-break: break-all;
  white-space: pre-wrap;
  /* margin: 0;
  padding: 0; */
  background-color: transparent;
  -ms-transform: rotate(90deg);
  transform: rotate(270deg);
  cursor: pointer;
}
div.u {
  margin-left: 100px;
  width: 0px;
  word-break: break-all;
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
  background-color: transparent;
  -ms-transform: rotate(90deg);
  transform: rotate(270deg);
  cursor: pointer;
}
/* /.MENU TEXT */
/* STICKY SOCIAL MEDIA BAR */
.icon-bar {
  position: fixed;
  top: 40%;
  right: 0%;
  margin: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: #FFF;
  font-size: 20px;
}
.icon-bar a:hover {
  background-color: #fae903;
  color: black;
}
.facebook {
  color: #FFF;
}
.twitter {
  color: #FFF;
}
.google {
  color: #FFF;
}
.linkedin {
  color: #FFF;
}
.youtube {
  color: #FFF;
}
.github {
  color: #FFF;
}
.instagram {
  color: #FFF;
}
/* END STICKY SOCIAL MEDIA BAR */
/* MAIN CONTENT */
.main {
  position: absolute;
  height: 100%;
  width: 100%;
  top:0; 
} 
.row-unequal{
  height: 100%;
  width: 100%;
}
.column-unequal {
  float: left;
  height: 100%;
}
.column-side {   
  float: left;
  width: 10%;
}
.column-middle {
  width: 80%;
  align-items: center;
  align-content: center;
  align-self: center;
}
/* MENU OVERLAY */
.menu-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow: hidden;
  transition: 0.5s;
  color:#000;
} 
.square {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #ff4040;
  right: 0;
  top:0;
  margin: 0;
  padding: 0;
}
.menu-content {
  position: relative;
  top: 10%;
  left: 20%;
  width: 60%;
  height: auto;
  padding:5px;
  margin:5px;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  text-align: center;
}
/* HOME CONTAINER */
.home-container {
  width:600px;
  height:100px;
  max-height: 100px;
  max-width: 600px;
}
div.background-home {
  position:absolute;
  cursor: pointer;
  font-weight:600;
  font-size:100px;
  left:0; 
  top: 0;
  color: #000;
}
div.transbox-home {
  position:absolute;
  background-color: #ff4040;
  opacity: 0.6;
  width:600px;
  height:30px;
  border-radius: 2%;
  top: 45%;
  left:-44%;
}
div.transbox-home a {
  position:absolute;
  cursor: pointer;
  font-weight:600;
  font-size:100px;
  left:24%; 
  top: -220%;
  text-decoration: none;
  color:#000;
}
/* ABOUT CONTAINER */
.about-container {
  width:600px;
  height:100px;
  max-height: 100px;
  max-width: 600px;
}
div.background-about {
  position:absolute;
  cursor: pointer;
  font-weight:600;
  font-size:100px;
  left:-1%; 
  top:17%;
  color: #000;
}
div.transbox-about {
  position:absolute;
  opacity: 0.6;
  width:600px;
  height:30px;
  border-radius: 2%;
  top: 45%;
  left:-44%;
}
div.transbox-about a {
  position:absolute;
  cursor: pointer;
  font-weight:600;
  font-size:100px;
  left:25%; 
  top: -220%;
  text-decoration: none;
  color:#000;
}
/* WORK CONTAINER */
.work-container {
  width:600px;
  height:100px;
  max-height: 100px;
  max-width: 600px;
}
div.background-work {
  position:absolute;
  cursor: pointer;
  font-weight:600;
  font-size:100px;
  left:-1%; 
  top: 35%;
  color: #000;
}
div.transbox-work {
  position:absolute;
  opacity: 0.6;
  width:600px;
  height:30px;
  border-radius: 2%;
  top: 45%;
  left:-45%;
}
div.transbox-work a {
  position:absolute;
  cursor: pointer;
  font-weight:600;
  font-size:100px;
  left:22%; 
  top: -223%;
  text-decoration: none;
  color:#000;
}
/* CONTACT CONTAINER */
.contact-container{
  width:600px;
  height:100px;
  max-height: 100px;
  max-width: 600px;
}
div.background-contact {
  position:absolute;
  cursor: pointer;
  font-weight:600;
  font-size:100px;
  left:0; 
  top: 50%;
  margin-left: -17px;
  color: #000;
}
div.transbox-contact {
  position:absolute;
  opacity: 0.6;
  width:600px;
  height:30px;
  border-radius: 2%;
  top: 45%;
  left:-25%;
}
div.transbox-contact a {
  position:absolute;
  cursor: pointer;
  font-weight:600;
  font-size:100px;
  left:18%; 
  top: -223%;
  text-decoration: none;
  color:#000;
}
/* BLOG */
.blog-container{
  width:600px;
  height:100px;
  max-height: 100px;
  max-width: 600px;
}
div.background-blog {
  position:absolute;
  cursor: pointer;
  font-weight:600;
  font-size:100px;
  left:0; 
  top: 65%;
  color: #000;
}
div.transbox-blog {
  position:absolute;
  opacity: 0.6;
  width:600px;
  height:30px;
  border-radius: 2%;
  top: 45%;
  left:-55%;
}
div.transbox-blog a {
  position:absolute;
  cursor: pointer;
  font-weight:600;
  font-size:100px;
  left:23%; 
  top: -223%;
  text-decoration: none;
  color:#000;
}
/* RESUME CONTAINER */
.resume-container{
  width:600px;
  height:100px;
  max-height: 100px;
  max-width: 600px;
}
div.background-resume {
  position:absolute;
  cursor: pointer;
  font-weight:600;
  font-size:100px;
  left:-1%; 
  top: 80%;
  color: #000;
}
div.transbox-resume {
  position:absolute;
  opacity: 0.6;
  width:600px;
  height:30px;
  border-radius: 2%;
  top: 45%;
  left:-25%;
}
div.transbox-resume a {
  position:absolute;
  cursor: pointer;
  font-weight:600;
  font-size:100px;
  left:18%; 
  top: -223%;
  text-decoration: none;
  color:#000;
}
/* CLOSE BUTTON */
.closebtn {
  position: absolute;
  margin-top: 20%;
  top: 20px;
  left: 45px;
  font-size: 80px;
  text-decoration: none;
  color: #222;
  cursor: pointer;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}
.btn:hover {
  background-color: #ddd;
}
.btn.active {
  background-color: yellow;
  color: white;
}
@media screen and (max-height: 450px) {
  .menu-overlay a {font-size: 20px}
  .menu-overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/* END OF MENU OVERLAY */
/* 3 COLUMNS STACK  */
@media screen and (max-width: 600px) {
  .column-side, .column-middle {
    width: 100%;
  }
}